.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: #edf2ec;
    height: 134px;
}

.header__logo {
    width: 79px;
    height: 21px;  
    display: flex;
    align-items: center;
}


.header__nav {
    width: 452px;
    height: 50px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 46px;
    list-style: none;
    color: #010201;
}

.header__links li a:hover {
    color: #e06733;
}


@media screen and (max-width:666px) {
    .header__links {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}